@model List<ShopOnline.Models.CartModel>
<div class="col-sm-6">
    <div id="mydiv" class="shopping-item">
        <a href="/Cart/">
            Giỏ hàng - <i class="fa fa-shopping-cart"></i>
            <span class="product-count">@Model.Count</span>
        </a>
    </div>
</div>