<div class="user-menu">
    <ul>
        <li><a href="#"><i class="fa fa-user"></i>Tài khoản</a></li>
        <li><a href="#"><i class="fa fa-heart"></i>Yêu thích</a></li>
        <li><a href="#"><i class="fa fa-user"></i>Giỏ hàng</a></li>
        <li><a href="#"><i class="fa fa-user"></i>Đăng nhập</a></li>
        <li><a href="#"><i class="fa fa-user"></i>Thoát</a></li>
    </ul>
</div>
